<h1>Homepage#index</h1>
<p>Find me in app/views/homepage/index.html.erb</p>

<%= @data %>

<%= @historic_data %>

<%= bar_chart(@chart_data) %>

<%= line_chart @timeseries_data, xtitle: "Date & Time", ytitle: '$'+@denomination %>
